body {
  margin: 0px;
}

canvas {
  background-color: lightblue;
  margin: 20px;
  background-image: url("images/california-scrapyard-1970s-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  display: none;
}
